<!--Adding tasks specific stylesheet-->
<link rel="stylesheet" href="/styles/taskStyles.css" media="screen" title="no title" charset="utf-8">

<div class="container">
  <div class="row">

    <div class="col-12 my-3">
      <h2 class="text-white"> This Week's Tasks {{currentWeekDay}}</h2>

    </div>

    <div class="col-sm-12 col-md-9 order-2 order-sm-2 order-md-1">
      <div class="row">
        {{#each UserTasks}}
        {{#unless completed}}
        <div class="col-md-4 col-sm-12 mb-3" id="userTaskCard{{id}}">
          <div class="card taskCard">
            <div class="card-header bg-dark text-white">
              <h5 class="card-title">{{Task.title}}</h5>
            </div>
            <div class="card-body">
              <div class="card-text mb-3">{{Task.text}}</div>
              <div class="card-text">{{{Task.links}}}</div>
            </div>
            <div class="card-footer text-center">
              <button data-id="{{id}}" data-associated-card="userTaskCard{{id}}" class="btn btn-warning btn-block hvr-pulse-grow mt-4 complete">Complete</button>
            </div>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>

    <div class="col-sm-12 col-md-3 order-1 order-sm-1 order-md-2 mb-3">
      <div class="row">
        <div class="col-md-12 col-sm-12 mb-12 float-right">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title mt-3">Task Progress</h5>
              <div class="progress">
                <div id="dynamic" class="progress-bar bg-danger progress-bar-striped"
                  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
</div>

<script src="/js/tasks.js"></script>